:root {
    --primary-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --primary-bg-color: #FFFFFF;
    --accent-color: #4D5AE5;
    --secondary-accent-color: #404BBF;
    --triplicate-text-color: #FFF;
    --cloud-text-color: #F4F4FD;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ============== HEADER ============== */
.logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--secondary-text-color);
}

.nav-link {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--secondary-accent-color);
}

.address {
    font-style: normal;
}

.address-link {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--secondary-accent-color);
}
/* ============== /HEADER ============== */

/* ============== HERO ============== */
.hero {
    background-color: var(--secondary-text-color);
}

.hero-title {
    text-align: center;
    color: var(--triplicate-text-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    color: var(--triplicate-text-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--secondary-accent-color);
}
/* ============== /HERO ============== */

/* ============== MAIN CONTENT ============== */
.sub-title {
    text-align: center;
    color: var(--secondary-text-color);
    background-color: var(--primary-bg-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.02em;
}

.section-description {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
     letter-spacing: 0.02em;
}

.secondary-title {
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 36px;    
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* ============== /MAIN CONTENT ============== */

/* ============== TEAM ============= */
.team {
    background-color: var(--cloud-text-color);
}

/* ============== /TEAM ============= */

/* ============== FOOTER ============== */
.footer {
    background-color: var(--secondary-text-color);
}

.logo-span-footer {
    color: var(--cloud-text-color);
}

.footer-description {
    color: var(--cloud-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============== /FOOTER ============== */

/* ============== PORTFOLIO BTN ============== */
.portfolio-btn {
    font-family: "Roboto", sans-serif;
    color: var(--accent-color);
    background-color: var(--cloud-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-bg-color);
    background-color: var(--secondary-accent-color);
}
/* ============== /PORTFOLIO BTN ============== */