:root{
    --primary-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --logo-text-color: #4D5AE5;
    --slate: #434455;
    --white: #fff;
    --primary-bg-color: #fff;
    --ocean: #404BBF;
    --cloud: #F4F4FD;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

.list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.link{
    text-decoration: none;
}
/* ============ Components ============ */
.logo-link {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo {
    color: var(--logo-text-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-theme-light {
    color: var(--primary-text-color);
}

.logo-theme-dark {
    color: var(--cloud);
}

.nav-link:active {
    color: var(--ocean);
}
/* ============ /Components ============ */

/* ============ Header ============ */
.nav-link{
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============ /Header ============ */

/* ============ Hero ============ */
.hero{
    background-color: var(--primary-text-color);
}
.hero-title{
    color: var(--white);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn{
    color: var(--white);
    background-color: var(--logo-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
   background-color: var(--ocean); 
}
/* ============ /Hero ============ */

/* ============ Studio ============ */
.sub-title{
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description{
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============ /Studio ============ */

/* ============ Portfolio ============ */
.portfolio-btn{
    color: var(--logo-text-color);
    background-color: var(--cloud);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    color: var(--white);
    background-color: var(--ocean);
}
/* ============ /Portfolio ============ */

/* ============ What are we doing? ============= */
.secondary-title {
    color: var(--primary-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
/* ============ /What are we doing? ============= */

/* ============ Footer ============= */
.footer{
    background-color: var(--primary-text-color);
}

.footer-description{
    color: var(--cloud);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============ /Footer ============= */